body {
	padding-bottom: 50px;
}
#header{
	background: url("../images/header_bg.jpg") center no-repeat ;
	height:700px;
	width: 1200px;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}

.header-brand {
	position: relative;
	top:30px;
	color: #f0efef;
	left:121px;
	font-weight: 800;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;

}

.header-slogan {
	position:  relative;
	top:100px;
	color: #f0efef;
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	/*margin-top:1%;*/
}

.header-button {
	position: absolute;
	top: 200px;
	right:45%;
	left: 45%;
	display: inline-block;
    background-color: #f9e42e;
	padding:5px;
	border-radius:5px;
	width: 150px;
	font-weight: 800;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;

}

#section {
	background-color: #f0efef;
	height:700px;
	width: 1200px;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
	
}

.section-benefits {
	position:relative;
	top:15%;
	left:10%;
	font-weight:600;
	font-family:'Open Sans', sans-serif;
	font-size:20px;

    
    
}

.section-perfect {
    top:20%;
	left: 10%;
	position:relative;
	font-weight:300;
	font-family:'Open Sans', sans-serif;
	font-size:13px;
	padding-left:5px;
	width:320px;
}

.section-list-group {
	position: relative;
	top:23%;
	left:10%;
	display: block;
	list-style-type: disc;
	margin-left: 50px;
}


ul li {
	list-style-type: disc;
	width: 220px;
	list-style-position: outside;
	margin-left: 1em;
	font-weight:300;
	font-family:'Open Sans', sans-serif;
	font-size:13px;
}


#nav{
	background-image:url("../images/testimonial_bg.jpg");
    height:394px;
    width:1200px;
    background-repeat:no-repeat;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
    
}

.changed{
	position: relative;
	left: 38%;
	top:50px;
	color:#f0efef;
	font-weight:300;
	font-family:'Open Sans', sans-serif;
	font-size:18px;
	font-style:italic;
	text-align: center;
	width: 300px;
}

.amanda{
	position: relative;
	left: 44%;
	top: 80px;
	width: 150px;
	text-align:center;
	font-weight:600;
	font-size:18px;
	color: #f0efef;
}

#yellow{
	background-color:#f9e42e;
	width:1200px;
	margin-right:auto;
	margin-left:auto;
	height:40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.sign-button{
    width:200px;
	padding:5px;
	position:relative;
	height: 40px;
	left:40%;
	background-color: #033048;
	color:white;
	border-radius:5px;
	border: none;
	font-weight: 800;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}

#footer{
	background-color:black;
	width:1200px;
	height:394px;
	margin-right:auto;
	margin-left:auto;
}

.relaxr{
	position: relative;
	top:100px;
	font-weight:800;
	font-family:'Open Sans', sans-serif;
	font-size:24px;
	color:#f9e42e;
	text-align: center;
}

.facebook{
	position: relative;
	top: 120px;
	left:48%;
}

.twitter {
	top: 120px;
	position: relative;
	left:46%;
}

.copyright{
	position: relative;
	top: 200px;
	text-align:center;
	color:white;
	font-weight:300;
	font-size:9px;
}





