body {
	padding-bottom: 20px;
	margin-top:20px;
}

#header{
	background: url("../images/header_bg.jpg") center no-repeat ;
	height:395px;
	width:750px;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}

.header-brand {
	position: relative;
	top:30px;
	color: white;
	left:40px;
	font-weight: 800;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}

.header-slogan {
	position:  relative;
	top:65px;
	color: white;
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}

.header-button {
	position:relative;
	width:165px;
	padding:5px;
    top:140px;
	height:35px;
	left:285px;
	background-color: #f9e42e;
	color:black;
	border-radius:5px;
	border: none;
	font-weight: 800;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

#section {
	background-color: #f0efef;
	height:345px;
	width: 750px;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
	
}

.section-benefits {
	position:relative;
	top:50px;
	left: 120px;;
	font-weight:600;
	font-family:'Open Sans', sans-serif;
	font-size:20px;
}

.section-perfect {
    top:20%;
	left: 119px;
	position:relative;
	font-weight:300;
	font-family:'Open Sans', sans-serif;
	font-size:13px;
	color:#033048;
	padding-left:5px;
	width:320px;
}

.section-list-group {
	position: relative;
	top:30%;
	left: 119px;
	display: block;
	list-style-type: disc;
	margin-left: 25px;
}


ul li {
	list-style-type: disc;
	line-height:18px;
	color:#033048;
	width: 254px;
	list-style-position: inside;
	text-indent:5px;
	margin-left: 1em;
	font-weight:300;
	font-family:'Open Sans', sans-serif;
	font-size:13px;
}


#nav{
	background-image:url("../images/testimonial_bg.jpg");
    height:255px;
    width:750px;
    background-repeat:no-repeat;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}

.changed{
	position: relative;
	left: 28%;
	top:75px;
	color: #606161;
	font-weight:300;
	font-family:'Open Sans', sans-serif;
	font-size:18px;
	font-style:italic;
	text-align: center;
	width: 300px;
}

.amanda{
	position: relative;
	left: 38%;
	top: 85px;
	width: 150px;
	text-align:center;
	font-weight:600;
	font-size:18px;
	color: #f0efef;
}

#yellow{
	background-color:#f9e42e;
	width:750px;
	margin-right:auto;
	margin-left:auto;
	height:35px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.sign-button{
    width:200px;
	padding:5px;
	position:relative;
	height: 40px;
	left:255px;
	background-color: #033048;
	color:white;
	border-radius:5px;
	border: none;
	font-weight: 800;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}

#footer{
	background-color:black;
	width:750px;
	height:255px;
	margin-right:auto;
	margin-left:auto;
}

.relaxr{
	position: relative;
	top:50px;
	font-weight:800;
	font-family:'Open Sans', sans-serif;
	font-size:24px;
	color:#f9e42e;
	right:15px;
	text-align: center;
}

.facebook{
	position: relative;
	top: 81px;
	left:345px;
	width:10px;
	height:15px;
}

.twitter {
	position: relative;
	top: 81px;
	left:335px;
	width:20px;
	height:15px;
}

.copyright{
	position: relative;
	top: 120px;
	text-align:center;
	color:white;
	font-weight:600;
	font-size:9px;
	right:15px
}





